.topStyle {
  background: var(--color-attention);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  a,
  .link {
    color: white !important;
  }
}
.navStyle {
  background: url(../gfx/background_paper.jpg) center top repeat-x;
  overflow: auto;
  padding: 1rem 0 1.5rem;
  background: hsl(48deg, 25%, 90%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.horizontal_carousel {
  // define color for prev/next arrows:
  color: var(--color-attention);
  // default styles in case JS does not load:
  white-space: nowrap;
  height: 9.25rem;
  overflow: auto;
  .slides > * {
    margin-right: 0.25rem;
  }
  img {
    height: 9rem;
  }
}

article,
section,
div {
  position: relative;
}
.a_target {
  position: absolute;
  top: -3rem;
}

body {
  font-family: Georgia, serif; //"bodoni 72",
  background: hsl(48deg, 25%, 98%);
  color: hsl(2deg, 2%, 20%);
}

.lum-close-button {
  opacity: 1 !important;
  right: 0.85rem !important;
  top: 0.75rem !important;
}

.titleFont {
  font-family: "Adobe Caslon Pro", "Adobe Garamond Pro", "bodoni 72", serif;
  font-size: 115%;
}

.fieldset.radio {
  [type="radio"] {
    width: 1em;
    height: 1rem;
    margin: 0.1rem;
  }

  .radioStyled {
    width: 0.89rem;
    height: 0.9rem;
    margin-top: 0;
    margin-left: -0.9rem;
    pointer-events: none;
  }

  [type="radio"]:checked + .radioStyled {
    box-shadow: 0 2px 3px hsla(0deg, 0%, 50%, 0.5);
    background: orange;
    box-sizing: border-box;
    border: solid 0.2rem transparent;
    border-radius: 50%;
  }

  label {
    margin-right: 0.75rem;
    margin-left: 0.25rem;
    height: 1rem;
    line-height: 1rem;
  }

  [type="radio"],
  label,
  .radioStyled {
    vertical-align: middle;
    display: inline-block;
  }
}

code,
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: bold;
  font-size: 75%;
  background: hsl(30deg, 22%, 93%);
  border: solid 1px hsl(30deg, 22%, 93%);
  padding: 0.2rem 0.4rem;
  margin-right: 0.1rem;
  margin-left: 0;
  border-radius: 0.2rem;
}
a.code {
  border-color: currentColor;
}

.eapps-form-floating-button,
.eapps-form-floating-button-visible,
.eapps-form-floating-button-position-right.eapps-form-floating-button-visible {
  background-color: hsl(38deg, 95%, 49%) !important;
}

.content {
  position: relative;
  width: 85%;
  min-width: 600px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1099px) {
    width: 90%;
  }
  @media (max-width: 699px) {
    width: calc(100% - 3rem);
    min-width: calc(100% - 3rem);
    margin-right: 0;
    margin-left: 1.5rem;
  }
  &.full {
    width: calc(100% - 3rem);
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 599px) {
    width: calc(100% - 2rem) !important;
    min-width: calc(100% - 2rem) !important;
    margin-right: 0 !important;
    margin-left: 1rem !important;
  }
}

.uui-icon {
  position: relative;
  top: 2px;
  padding: 0 2px;
}

form {
  input {
    padding: 0.125rem 0.25rem;
    line-height: 1.25rem;
    border: solid 1px #999;
    border-radius: 2px;
    margin-left: 0.125rem;
    margin-right: 0.25rem;
  }
  button {
    padding: 0.125rem 0.25rem;
    line-height: 1.25rem;
    border: solid 1px #999;
    border-radius: 4px;
    margin-right: 0.125rem;
  }
  &.inline {
    display: inline;
    * {
      display: inline;
      line-height: 1rem;
    }
  }
}

p,
.p {
  margin-bottom: 0.85rem;
  line-height: 1.6rem;
  font-size: 1.1rem;
  color: hsl(20deg, 10%, 20%);
}

a,
.link {
  color: hsl(35, 95%, 47.5%);
  //text-shadow: 0 0 5px white;
  text-decoration: underline;
}

a:hover,
.link:hover {
  color: #4bafe1;
  text-decoration: none;
}

hr {
  display: block;
  height: 1px;
  background: #ccc;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  .icon {
    display: inline-block;
    width: 1.5rem;
  }
}

h3 {
  line-height: 1.5rem;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  transform: scaleX(0.9);
  transform-origin: left;
  sup {
    top: auto;
    line-height: 1;
    position: static;
    vertical-align: 0.125rem;
  }
}

.squishLeft {
  transform: scaleX(0.9);
  transform-origin: left;
  display: inline-block;
}
.squishCenterSlightly {
  transform: scaleX(0.975);
  display: inline-block;
}

/*
 * EFFECTS
 */
@-webkit-keyframes playGlow {
  0% {
    box-shadow: 0 0 5px 0 orange;
  }

  40% {
    box-shadow: 0 0 25px 0 orange;
  }

  100% {
    box-shadow: 0 0 5px 0 orange;
  }
}

@keyframes playGlow {
  0% {
    box-shadow: 0 0 5px 0 orange;
  }

  40% {
    box-shadow: 0 0 25px 0 orange;
  }

  100% {
    box-shadow: 0 0 5px 0 orange;
  }
}

/*
 * CHEESY EFFECT - forget what it does
*/
.h-hidden {
  transition: opacity 1s linear 10s;
  opacity: 0;
}

.h-visible {
  transition: opacity 1s linear 10s;
  opacity: 1;
}

body.ready .h-hidden {
  opacity: 1;
}

body.ready .h-visible {
  opacity: 0;
}

/*
 * Classes
 */
.flex {
  display: flex;
  .flex-grow {
    flex-grow: 1;
  }
}
