body {
  font-family: serif; //"bodoni 72",
  background: url(../gfx/background_paper.jpg) center top repeat-x;
  //background-size: contain;
  //font-family: system-ui, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, "Open Sans", "AuroRegular", sans-serif;
  min-width: 380px;
  > div:first-child {
    overflow: auto;
    height: 100vh;
    width: 100vw;
  }
  img,
  video,
  iframe {
    max-width: 100%;
  }
}

.eapps-form-floating-button,
.eapps-form-floating-button-visible,
.eapps-form-floating-button-position-right.eapps-form-floating-button-visible {
  background-color: hsl(38deg, 95%, 49%) !important;
}

.pageProjectsForClients {
  .uuiCarousel {
    img {
      height: 8rem;
    }
    .arrows {
      display: none;
    }
  }
}

.pageAbout {
  .aboutus {
    .column.nowrap img {
      width: 300px;
    }
    p {
      background: url(http://localhost:8080/static/background_paper-785c540b527881e33bec7ce84f7bf12c.jpg) center;
    }
  }
  .uuiCarousel {
    img {
      height: 12.5rem;
    }
    .arrows {
      display: none;
    }
  }
}

.content {
  position: relative;
  width: 80%;
  min-width: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1099px) {
    width: 90%;
  }
  @media (max-width: 699px) {
    width: calc(100% - 3.5rem);
    min-width: calc(100% - 3.5rem);
    margin-right: 0;
    margin-left: 1.675rem;
  }
  &.full {
    width: calc(100% - 3rem);
    min-width: calc(100% - 3rem);
    margin-right: 0;
    margin-left: 1.5rem;
  }
}

.uui-icon {
  position: relative;
  top: 2px;
  padding: 0 2px;
}

form {
  input {
    padding: 0.125rem 0.25rem;
    line-height: 1.25rem;
    border: solid 1px #999;
    border-radius: 2px;
    margin-left: 0.125rem;
    margin-right: 0.25rem;
  }
  button {
    padding: 0.125rem 0.25rem;
    line-height: 1.25rem;
    border: solid 1px #999;
    border-radius: 4px;
    margin-right: 0.125rem;
  }
  &.inline {
    display: inline;
    * {
      display: inline;
      line-height: 1rem;
    }
  }
}

p,
.p {
  margin-bottom: 0.85rem;
  letter-spacing: 0.15px;
  line-height: 1.3rem;
  font-size: 1rem;
  color: #666;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  color: #4bafe1;
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  background: #ccc;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  .icon {
    display: inline-block;
    width: 1.5rem;
  }
}

h3 {
  line-height: 1.33rem;
  font-size: 1.33rem;
  margin: 0;
  padding: 0;
}

/*
 * EFFECTS
 */
@-webkit-keyframes playGlow {
  0% {
    box-shadow: 0 0 5px 0 orange;
  }

  40% {
    box-shadow: 0 0 25px 0 orange;
  }

  100% {
    box-shadow: 0 0 5px 0 orange;
  }
}

@keyframes playGlow {
  0% {
    box-shadow: 0 0 5px 0 orange;
  }

  40% {
    box-shadow: 0 0 25px 0 orange;
  }

  100% {
    box-shadow: 0 0 5px 0 orange;
  }
}

/*
 * CHEESY EFFECT - forget what it does
*/
.h-hidden {
  transition: opacity 1s linear 10s;
  opacity: 0;
}

.h-visible {
  transition: opacity 1s linear 10s;
  opacity: 1;
}

body.ready .h-hidden {
  opacity: 1;
}

body.ready .h-visible {
  opacity: 0;
}

/*
 * Classes
 */
.flex {
  display: flex;
  .flex-grow {
    flex-grow: 1;
  }
}
