/*
JavaScript Snake
By Patrick Gillespie
http://patorjk.com/games/snake
*/
body {
margin:0px;
padding:0px;
font-family: Verdana, arial, helvetica, sans-serif; 
background:#a1744c;
}

#game-area {
	margin:0px;
	padding:0px;
}

#mode-wrapper {
    color: #ffffff;
    font-size: 14px;
    
}

#game-area:focus { outline: none; }

a.snake-link, a.snake-link:link, a.snake-link:visited {
  color: #FCFC54; 
}

a.snake-link:hover {
  color: #FfFf54; 
}

.snake-pause-screen {
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 14px;
    position:absolute;
    width:300px;
    height:80px;
    text-align:center;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-150px;
    display:none;
    background-color:black;
    color:white;
}

.snake-panel-component {
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background-color: #20c86b;
    padding: 8px;
    margin: 0px;
}

.snake-snakebody-block {
    margin: 0px;
    padding: 0px;
    background-color: #08c36d;
    position: absolute;
    border: none;
    background-repeat: no-repeat;
}

.snake-snakebody-alive {
    opacity:1;
   /*background-image: url('./images/snakeblock.png');*/
}
.snake-snakebody-dead {
    opacity:0.5;
   /*background-image: url('./images/deadblock.png');*/
}

.snake-food-block {
    margin: 0px;
    padding: 0px;
    background-color: #ff462d;
    border: none;
    position: absolute;
    pointer-events: none;
}

.snake-playing-field {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: #dfc896;
    border: none;
}

.snake-game-container {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    background-color: #a1744c;
    position: relative;
}
            
.snake-welcome-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    /*height: 150px;*/
    margin-top: -100px;
    margin-left: -158px;
    text-align: center; 
    display: block;
}

.snake-try-again-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-top: -75px;
    margin-left: -158px;
    text-align: center;
    display: none;
    }


#playingField {
    position:relative;
    left:0 !important;
    top:0;
    margin:0 auto;
}

#options-container {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background:rgba(0,0,0,0.66);
    color:#fff;
    z-index:1000000;
    padding:10px;
    box-sizing:border-box;
}
#options-container * {
    display:inline-block;
}
#options-container #high-score {
    display:inline-block;
    float:right;
}
.current-score {
    display:inline-block;
    float:right;
    margin-right:10px;
}
