@font-face {
	font-family: 'taviraj';
	font-weight: 200;
	src: url('./taviraj/Taviraj-Light.ttf')  format('truetype');
}
@font-face {
	font-family: 'taviraj';
	font-weight: 400;
	src: url('./taviraj/Taviraj-Medium.ttf')  format('truetype');
}
@font-face {
	font-family: 'taviraj';
	font-weight: 600;
	src: url('./taviraj/Taviraj-SemiBold.ttf')  format('truetype');
}
@font-face {
	font-family: 'taviraj';
	font-weight: 800;
	src: url('./taviraj/Taviraj-Bold.ttf')  format('truetype');
}

@font-face {
	font-family: 'taviraj';
	font-weight: 200;
	font-style:italic;
	src: url('./taviraj/Taviraj-LightItalic.ttf')  format('truetype');
}
@font-face {
	font-family: 'taviraj';
	font-weight: 400;
	font-style:italic;
	src: url('./taviraj/Taviraj-MediumItalic.ttf')  format('truetype');
}
@font-face {
	font-family: 'taviraj';
	font-weight: 600;
	font-style:italic;
	src: url('./taviraj/Taviraj-SemiBoldItalic.ttf')  format('truetype');
}
@font-face {
	font-family: 'taviraj';
	font-weight: 800;
	font-style:italic;
	src: url('./taviraj/Taviraj-BoldItalic.ttf')  format('truetype');
}