
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=55b44f90-d25c-4fce-8cfa-4ae19f713c1f");
@font-face{
font-family:"Beverly Hills W90";
src:url("Fonts/2aea5969-80bb-45c6-a0a4-809980812b69.eot?#iefix");
src:url("Fonts/2aea5969-80bb-45c6-a0a4-809980812b69.eot?#iefix") format("eot"),url("Fonts/fa3e2c6d-633f-41ea-9cc8-f30d700230e8.woff") format("woff"),url("Fonts/69226cd5-b66d-4d63-969a-f282db8cbee1.ttf") format("truetype"),url("Fonts/790d5e89-14a6-419c-9f1f-f359becad585.svg#790d5e89-14a6-419c-9f1f-f359becad585") format("svg");
}
@font-face{
font-family:"Chic W90";
src:url("Fonts/997f338b-6b9b-44eb-9753-0121f6a8364e.eot?#iefix");
src:url("Fonts/997f338b-6b9b-44eb-9753-0121f6a8364e.eot?#iefix") format("eot"),url("Fonts/a91c3119-cd46-4f4a-9cec-619260829749.woff") format("woff"),url("Fonts/b3575e90-5dd9-41c3-8014-3023baacc9d9.ttf") format("truetype"),url("Fonts/997d8a62-657b-44d9-bbb6-e2d49709d29b.svg#997d8a62-657b-44d9-bbb6-e2d49709d29b") format("svg");
}
