/*
	RESET
*/
[class^="icon-"],
[class*=" icon-"] {
  position: relative;
  line-height: 1.5em;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle; }

/*
	ELEMENTS
*/
[class^="uui-"],
[class*=" uui-"] {
  position: relative;
  line-height: 1.5em;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle; }

.uui-title {
  position: relative;
  height: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding: 0; }

.uui-text {
  position: relative;
  height: 1.5em;
  line-height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  padding: 0; }

textarea.uui-text, input[type].uui-text {
  position: relative;
  height: 1.5em;
  line-height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  padding: 0; }

.uui-icon,
.uui-icon-button {
  width: 1.5em;
  padding: 0;
  text-align: center; }

.uui-icon {
  border: none;
  background: transparent; }

.uui-icon-button {
  border: none;
  background: transparent; }
  .uui-icon-button.uui-circle {
    border-radius: 50%; }
  .uui-icon-button.uui-square {
    border-radius: 2px; }

.uui-icon,
.uui-icon-button,
.uui-button {
  display: inline-block;
  vertical-align: middle;
  position: static;
  font-size: 0.9em;
  line-height: 1.5em; }

a.uui-icon:before {
  vertical-align: middle; }

.uui-button,
.uui-icon-button,
.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons {
  background: orange;
  color: white;
  border-radius: 5px; }

.uui-button:hover,
.uui-button:hover *,
.uui-button:hover span:before,
.uui-icon-button:hover,
.uui-icon-button:hover *,
.uui-icon-button:hover span:before {
  background: #ffc14d;
  color: white !important;
  font-weight: bold; }

.uui-button {
  text-align: center;
  padding: 0.236em 0; }

.uui-icon-button {
  padding: 0.29em 0.24em 0.24em 0.266em;
  min-width: 0.9em;
  box-sizing: content-box;
  font-size: 100%; }

/*
	STYLES / EFFECTS
*/
.uui-hollow:before {
  text-shadow: 0 0 1px #000;
  color: #fff; }

.uui-hollow:hover:before {
  text-shadow: #fff;
  color: #000; }

.uui-muted:before,
.uui-muted span:before {
  color: #ccc; }

.uui-hollow-orange span, .uui-hollow-orange:before,
.uui-hollow-orange span:before {
  color: #fff;
  text-shadow: 0 0 1px orange;
  transition: text-shadow 1s, color 1s; }

.uui-hover-orange:hover span, .uui-hover-orange:hover:before,
.uui-hover-orange:hover span:before {
  color: orange;
  text-shadow: none; }
