p

include ./components/header.html


<form action="/nicetomeetyou" method="POST">  
    <h2>Welcome to #{webmaster}'s Pug webpage!</h2>  

    <fieldset>
        <label>Hello stranger! What's your name?</label>
        <input type="text" name="visitor" placeholder="name..." />
    </fieldset>
</form>


include ./components/footer.html
