@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jghq48');
  src:  url('fonts/icomoon.eot?jghq48#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?jghq48') format('woff2'),
    url('fonts/icomoon.ttf?jghq48') format('truetype'),
    url('fonts/icomoon.woff?jghq48') format('woff'),
    url('fonts/icomoon.svg?jghq48#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-power_outlet_outline:before {
  content: "\e900";
}
.icon-carat_down:before {
  content: "\e931";
}
.icon-ui_add:before {
  content: "\e90a";
}
.icon-ui_happy:before {
  content: "\e915";
}
.icon-ui_wifi:before {
  content: "\e927";
}
.icon-ui_more:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e971";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-rss:before {
  content: "\ea9b";
}

