.lum-lightbox-inner {
  top: 1.5% !important;
  bottom: 1.5% !important;
  padding-bottom: 1.5rem;
  .lum-img {
    border-radius: 0.36rem;
    max-height: calc(100% - 0.5rem);
    max-width: 100% !important;
  }
  .lum-lightbox-caption {
    font-family: sans-serif !important;
    max-width: 100% !important;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
    line-height: 1.67rem !important;
    font-size: 1rem !important;
    color: rgba(255, 255, 255, 0.9) !important;
    background: hsl(219deg, 69%, 49%);
    height: 1.67rem;
    white-space: nowrap;
    display: inline-block;
    border-radius: 3px;
  }
}

.imagesFloatRight {
  float: right;
  img {
    height: 9rem;
    margin-left: 0.25rem;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  }
}

.horizontal_carousel {
  // define color for prev/next arrows:
  color: var(--color-attention);
  // default styles in case JS does not load:
  white-space: nowrap;
  overflow: auto;
  margin-top: 0.25rem;
  .slides > * {
    margin-right: 0.25rem;
  }
  img {
    height: 12rem;
  }
}
.horizontal_carousel + .description {
  margin-top: 0.5rem;
}

article,
section,
div {
  position: relative;
}
.a_target {
  position: absolute;
  top: -3rem;
}

body {
  font-family: Georgia, serif; //"bodoni 72",
  color: hsl(2deg, 2%, 20%);
  background: linear-gradient(to bottom, hsl(36deg, 80%, 90%) 0px, white 750px);
}

.lum-close-button {
  opacity: 1 !important;
  right: 0.85rem !important;
  top: 0.75rem !important;
}

.titleFont {
  font-family: "Adobe Caslon Pro", "Adobe Garamond Pro", "bodoni 72", serif;
  font-size: 115%;
}

.fieldset.radio {
  [type="radio"] {
    width: 1em;
    height: 1rem;
    margin: 0.1rem;
  }

  .radioStyled {
    width: 0.89rem;
    height: 0.9rem;
    margin-top: 0;
    margin-left: -0.9rem;
    pointer-events: none;
  }

  [type="radio"]:checked + .radioStyled {
    box-shadow: 0 2px 3px hsla(0deg, 0%, 50%, 0.5);
    background: orange;
    box-sizing: border-box;
    border: solid 0.2rem transparent;
    border-radius: 50%;
  }

  label {
    margin-right: 0.75rem;
    margin-left: 0.25rem;
    height: 1rem;
    line-height: 1rem;
  }

  [type="radio"],
  label,
  .radioStyled {
    vertical-align: middle;
    display: inline-block;
  }
}

code,
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: bold;
  font-size: 75%;
  background: hsl(30deg, 22%, 93%);
  border: solid 1px hsl(30deg, 22%, 93%);
  padding: 0.2rem 0.4rem;
  margin-right: 0.1rem;
  margin-left: 0;
  border-radius: 0.2rem;
}
a.code {
  border-color: currentColor;
}

.eapps-form-floating-button,
.eapps-form-floating-button-visible,
.eapps-form-floating-button-position-right.eapps-form-floating-button-visible {
  background-color: hsl(38deg, 95%, 49%) !important;
}

.uui-icon {
  position: relative;
  top: 2px;
  padding: 0 2px;
}

form {
  input {
    padding: 0.125rem 0.25rem;
    line-height: 1.25rem;
    border: solid 1px #999;
    border-radius: 2px;
    margin-left: 0.125rem;
    margin-right: 0.25rem;
  }
  button {
    padding: 0.125rem 0.25rem;
    line-height: 1.25rem;
    border: solid 1px #999;
    border-radius: 4px;
    margin-right: 0.125rem;
  }
  &.inline {
    display: inline;
    * {
      display: inline;
      line-height: 1rem;
    }
  }
}

p,
.p {
  margin-bottom: 0.85rem;
  line-height: 1.6rem;
  font-size: 1.1rem;
  color: #333;
}

a,
.link {
  color: hsl(36deg, 97%, 48%);
  //text-shadow: 0 0 5px white;
  text-decoration: underline;
}

a:hover,
.link:hover {
  color: #4bafe1;
  text-decoration: none;
}

hr {
  display: block;
  height: 1px;
  background: #ccc;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  .icon {
    display: inline-block;
    width: 1.5rem;
  }
}

h3 {
  line-height: 1.5rem;
  font-size: 1.5rem;
  @media (max-width: 800px) {
    font-size: 1.33rem;
  }
  margin: 0;
  padding: 0;
  transform: scaleX(0.9);
  transform-origin: left;
  sup {
    top: auto;
    line-height: 1;
    position: static;
    vertical-align: 0.125rem;
  }
}

.squishLeft {
  transform: scaleX(0.9);
  transform-origin: left;
  display: inline-block;
}
.squishCenterSlightly {
  transform: scaleX(0.975);
  display: inline-block;
}

/*
 * EFFECTS
 */
@-webkit-keyframes playGlow {
  0% {
    box-shadow: 0 0 5px 0 orange;
  }

  40% {
    box-shadow: 0 0 25px 0 orange;
  }

  100% {
    box-shadow: 0 0 5px 0 orange;
  }
}

@keyframes playGlow {
  0% {
    box-shadow: 0 0 5px 0 orange;
  }

  40% {
    box-shadow: 0 0 25px 0 orange;
  }

  100% {
    box-shadow: 0 0 5px 0 orange;
  }
}

/*
 * CHEESY EFFECT - forget what it does
*/
.h-hidden {
  transition: opacity 1s linear 10s;
  opacity: 0;
}

.h-visible {
  transition: opacity 1s linear 10s;
  opacity: 1;
}

body.ready .h-hidden {
  opacity: 1;
}

body.ready .h-visible {
  opacity: 0;
}

/*
 * Classes
 */
.flex {
  display: flex;
  .flex-grow {
    flex-grow: 1;
  }
}
