.navStyle {
  overflow: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  padding: 1rem 0.5rem 1.5rem;
  margin: 1.5rem 1.5rem 0;
  @media (max-width: 800px) {
    margin: 1rem 1rem 0;
  }
  border-radius: 4px;
  background: white;
}

header {
  position: relative;
  font-size: 1rem;
  line-height: 1.75rem;
  margin: 0.5rem 1rem 0.75rem 1.1rem;
  color: hsl(20deg, 20%, 20%);

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .h {
    display: flex;
    width: 100%;
    @media (max-width: 860px) {
      flex-direction: column;
    }

    .h-left {
      flex-grow: 1;
      white-space: nowrap;
      overflow: visible;
      font-family: "Adobe Caslon Pro", "Adobe Garamond Pro", "bodoni 72", serif;
      font-size: 1.15rem;
      @media (max-width: 800px) {
        position: relative;
        display: block;
      }

      .icon {
        svg {
          width: 1rem;
          fill: currentColor;
        }

        img {
          width: 1rem;
          height: auto;
        }
      }
    }

    .h-right {
      flex-grow: 1;
      text-align: right;
      @media (max-width: 860px) {
        text-align: left;
      }

      b {
        font-family: "Adobe Caslon Pro", "Adobe Garamond Pro", "bodoni 72", serif;
        font-size: 110%;
      }

      .icon {
        display: inline-block;
        position: absolute;
        right: -1.5rem;
        width: 1.5rem;
        overflow: visible;
        text-align: right;
      }

      //a {
      //  color: var(--color-link);
      //  &:hover {
      //    color: var(--color-primary);
      //  }
      //  //svg {
      //  //  color: var(--color-accent);
      //  //}
      //}
    }

    .h-left,
    .h-right {
      > * {
        position: relative;
        display: inline-block;
        white-space: nowrap;
      }
    }
  }
}
