/*
 * 1rem =
 */
html {
  font-size: 17px; /* 4K */
  @media (max-width: 2200px) {
    font-size: 16px;
  }
  @media (max-width: 1800px) {
    font-size: 15.75px;
  }
  @media (max-width: 1350px) {
    font-size: 15.5px;
  }
  @media (max-width: 1200px) {
    font-size: 15.25px;
  }
  @media (max-width: 900px) {
    font-size: 15px;
  }
  @media (max-width: 700px) {
    font-size: 14.75px;
  }
  @media (max-width: 400px) {
    font-size: 14.5px;
  }
  //}
}

body#body {
  font-size: 1rem;
  line-height: 1.5;
}

/*
 * Layout
 */
.content {
  position: relative;
  width: 75%;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1400px) {
    max-width: 1200px;
    width: 85%;
  }
  @media (max-width: 1099px) {
    width: 90%;
  }
  @media (max-width: 699px) {
    width: calc(100% - 2rem);
    min-width: calc(100% - 2rem);
    margin-right: 0;
    margin-left: 1rem;
  }
  &.full {
    width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1600px) {
      max-width: 1420px;
    }
  }
  @media (max-width: 599px) {
    width: calc(100% - 2rem) !important;
    min-width: calc(100% - 2rem) !important;
    margin-right: 0 !important;
    margin-left: 1rem !important;
  }
}

/*
 * Classes / Shortcuts
 */
.invisible-small {
  @media (max-width: 629px) {
    visibility: hidden;
    opacity: 0;
  }
}
.slight_right_overflow {
  margin-right: -1.5rem;
}

/*
 * breakpoint "small" < 600
 */
.inline-small {
  @media (max-width: 629px) {
    display: inline;
  }
}
.inline-medium {
  @media (max-width: 950px) {
    display: inline;
  }
}
.hide-small {
  @media (max-width: 629px) {
    display: none !important;
  }
}
.show-small {
  @media (min-width: 630px) {
    display: none !important;
  }
}
/*
 * breakpoint "large" > 950
 */
.div-large {
  @media (min-width: 950px) {
    display: block;
  }
}
.hide-large {
  @media (min-width: 950px) {
    display: none !important;
  }
}
.show-large {
  @media (max-width: 949px) {
    display: none !important;
  }
}
