section {
  margin: 0;
  position: relative;
  header {
    position: relative;
    width: 100%;
    font-size: 1.14rem;
    line-height: 1.45rem;
    min-height: calc(1.45rem + 4px);
    margin-bottom: 3rem;
    color: #666;
    .h-left {
      position: absolute;
      left: 0;
      .icon-heart {
        &:before {
          font-size: 90%;
          vertical-align: 1px;
        }
      }
    }
    .h-right {
      position: absolute;
      right: 0;
      .ion-thumbsup {
        &:before {
          font-size: 125%;
        }
      }
    }
  }
  article {
    margin: 3rem auto;
    h3 {
      margin-bottom: 0.75rem;
      font-family: "Adobe Caslon Pro", "Adobe Garamond Pro", "bodoni 72", serif;
    }
    p {
      line-height: 1.6rem;
      margin: 0.5rem 0 1rem 0;
    }
    &.full {
      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    .video {
      position: relative;
      max-width: 1080px;
      margin: 0 0 1vh;
      .playpause {
        background-image: url(../assets/gfx/play.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: absolute;
      }
      video {
        width: 100%;
        display: block;
      }
    }
    .image {
      position: relative;
      max-width: 1080px;
      img {
        width: 100%;
      }
    }
    .collage {
      position: relative;
      margin: 0 -3.5rem 0 -5.5rem;
      @media (max-width: 700px) {
        margin: 0 -2.5rem 0 -3rem;
      }
      img {
        width: 100%;
      }
    }
    .playbutton {
      background-image: url(../assets/gfx/play.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      position: absolute;
      width: 6vw;
      height: 6vw;
      background-size: auto 50%;
      background-color: #fff;
      top: calc(50% - 3vw);
      left: calc(50% - 3vw);
      border-radius: 50%;
      box-shadow: 0 0 5px #000;
      background-position-x: 60%;
      border: solid 1px orange;
      -webkit-animation: playGlow 3s infinite;
      animation: playGlow 3s infinite;
    }
    .playlink {
      display: block;
      text-align: right;
      margin: -0.5rem 0 0.5rem;
      > * {
        display: inline-block;
      }
    }
  }
}
