@-webkit-keyframes rotate360 {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate360 {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

body {
  margin: 0; }

[clock] {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden !important;
  border-radius: 50%; }
  [clock] .hands {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block; }
    [clock] .hands .hand {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0;
      height: 1px; }
      [clock] .hands .hand:before {
        content: "";
        position: relative;
        display: block;
        background: #111;
        width: 100vw;
        overflow: hidden; }
    [clock] .hands .hand-hour {
      opacity: 1; }
      [clock] .hands .hand-hour:before {
        height: 4px;
        margin-top: -2px; }
      [clock] .hands .hand-hour.spun {
        -webkit-animation: 86400s rotate360 infinite linear;
        animation: 86400s rotate360 infinite linear; }
    [clock] .hands .hand-minute {
      opacity: 0.75; }
      [clock] .hands .hand-minute:before {
        height: 3px;
        margin-top: -1px; }
      [clock] .hands .hand-minute.spun {
        -webkit-animation: 3600s rotate360 infinite linear;
        animation: 3600s rotate360 infinite linear; }
    [clock] .hands .hand-second {
      opacity: 0.5; }
      [clock] .hands .hand-second:before {
        height: 2px; }
      [clock] .hands .hand-second.spun {
        -webkit-animation: 60s rotate360 infinite linear;
        animation: 60s rotate360 infinite linear; }
    [clock] .hands .hand-millisecond {
      opacity: 0.25; }
      [clock] .hands .hand-millisecond:before {
        height: 1px; }
      [clock] .hands .hand-millisecond.spun {
        -webkit-animation: 1s rotate360 infinite linear;
        animation: 1s rotate360 infinite linear; }
  [clock] .digitalClock {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 50%;
    text-align: left;
    color: rgba(0, 0, 0, 0.66);
    font-family: sans-serif;
    padding: 5px 15px;
    font-smooth: always;
    font-weight: bold; }
  [clock] .digitalStopwatch {
    position: absolute;
    top: 75%;
    left: 25%;
    width: 50%;
    display: inline-block;
    text-align: center;
    color: rgba(0, 0, 0, 0.66);
    font-family: sans-serif;
    padding: 5px 15px;
    font-smooth: always;
    font-weight: bold; }
