@-webkit-keyframes rotate360 {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate360 {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

body {
  margin: 0; }

.hands {
  position: fixed;
  height: 100vh;
  width: 100vw; }
  .hands .hand {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0;
    height: 1px; }
    .hands .hand:before {
      content: "";
      position: relative;
      display: block;
      background: #111;
      width: 100vw;
      height: 1px;
      overflow: hidden; }
  .hands .hand-hour {
    opacity: 1; }
    .hands .hand-hour.spun {
      -webkit-animation: 86400s rotate360 infinite linear;
      animation: 86400s rotate360 infinite linear; }
  .hands .hand-minute {
    opacity: 0.75; }
    .hands .hand-minute.spun {
      -webkit-animation: 3600s rotate360 infinite linear;
      animation: 3600s rotate360 infinite linear; }
  .hands .hand-second {
    opacity: 0.5; }
    .hands .hand-second.spun {
      -webkit-animation: 60s rotate360 infinite linear;
      animation: 60s rotate360 infinite linear; }
  .hands .hand-millisecond {
    opacity: 0.25; }
    .hands .hand-millisecond.spun {
      -webkit-animation: 1s rotate360 infinite linear;
      animation: 1s rotate360 infinite linear; }

.theTime {
  position: absolute;
  top: 50vh;
  left: 50vw;
  display: inline-block;
  width: 100px;
  text-align: left;
  color: rgba(0, 0, 0, 0.66);
  font-family: sans-serif;
  padding: 5px 15px;
  font-smooth: always; }
