@-webkit-keyframes playGlow {
  0% {
    box-shadow: 0 0 5px 0 orange; }
  40% {
    box-shadow: 0 0 25px 0 orange; }
  100% {
    box-shadow: 0 0 5px 0 orange; } }

@keyframes playGlow {
  0% {
    box-shadow: 0 0 5px 0 orange; }
  40% {
    box-shadow: 0 0 25px 0 orange; }
  100% {
    box-shadow: 0 0 5px 0 orange; } }

html {
  font-size: 16.5px; }

@media (max-width: 950px), (max-height: 750px) {
  html {
    font-size: 15.5px; } }

@media (max-width: 750px), (max-height: 650px) {
  html {
    font-size: 14.5px; } }

@media (max-width: 380px), (max-height: 380px) {
  html {
    font-size: 13.5px; } }

@media (max-width: 330px), (max-height: 330px) {
  html {
    font-size: 12.5px; } }

div.aboutme {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2.5rem;
  margin-bottom: 3rem; }
  div.aboutme img.portrait {
    height: 5rem;
    border-radius: 50%;
    overflow: hidden; }
  div.aboutme .thoughtbubble {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

body {
  overflow: auto;
  font-family: "Bodoni 72", Georgia, serif; }

a {
  color: orange;
  text-decoration: none; }

a:hover {
  color: #4BAFE1;
  text-decoration: underline; }

[onclick] {
  cursor: pointer; }

article pre {
  font-size: 0.73rem !important; }

section {
  margin: 2.5vh 5.5vw 2.5vh 5vw;
  position: relative; }
  section header {
    position: relative;
    width: 100%;
    font-size: 1.14rem;
    line-height: 1.45rem;
    min-height: calc(1.45rem + 4px);
    margin-bottom: 3rem;
    color: #666; }
    section header .h-left {
      position: absolute;
      left: 0; }
      section header .h-left .icon-heart:before {
        font-size: 90%;
        vertical-align: 1px; }
    section header .h-right {
      position: absolute;
      right: 0; }
      section header .h-right .ion-thumbsup:before {
        font-size: 125%; }
      section header .h-right .icon-select:before {
        vertical-align: -2px;
        font-size: 90%; }
  section article {
    margin: 0 0 4rem; }
    section article .video {
      position: relative;
      max-width: 720px;
      margin: 0 0 1vh; }
      section article .video .playpause {
        background-image: url(../gfx/ui/play.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        width: 101%;
        height: 100%;
        position: absolute; }
      section article .video video {
        width: 100%;
        display: block; }
    section article .image {
      position: relative;
      max-width: 720px; }
      section article .image img {
        width: 100%; }
    section article .image {
      position: relative;
      max-width: 720px; }
      section article .image img {
        width: 100%; }
    section article .collage {
      position: relative;
      width: 100%; }
      section article .collage .playbutton {
        background-image: url(../gfx/ui/play.svg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        position: absolute;
        width: 6vw;
        height: 6vw;
        top: 0;
        background-size: auto 50%;
        background-color: #fff;
        top: calc(50% - 3vw);
        left: calc(50% - 3vw);
        border-radius: 50%;
        box-shadow: 0 0 5px #000;
        background-position-x: 60%;
        border: solid 1px orange;
        -webkit-animation: playGlow 3s infinite;
        animation: playGlow 3s infinite; }
      section article .collage img {
        width: 100%; }
    section article .title {
      font-size: 1.82rem;
      line-height: 1.82rem;
      margin: 0 0 0.66vh; }
    section article .description {
      font-size: 1.03rem;
      line-height: 1.82rem; }
    section article .article {
      font-size: 1.03rem;
      line-height: 1.82rem; }

@media (max-width: 800px) {
  section header .h-left {
    position: relative;
    display: block; }
  section header .h-right {
    position: relative;
    text-align: right;
    display: block; } }

/*
	CHEESY EFFECT
*/
.h-hidden {
  transition: opacity 1s linear 10s;
  opacity: 0; }

.h-visible {
  transition: opacity 1s linear 10s;
  opacity: 1; }

body.ready .h-hidden {
  opacity: 1; }

body.ready .h-visible {
  opacity: 0; }

article .description a .icon-select:before {
  position: relative;
  top: 4.2px;
  left: 1.5px; }

article .description a:hover .icon-select:before {
  text-decoration: none; }

/*
	RESET
*/
[class^="icon-"],
[class*=" icon-"] {
  position: relative;
  line-height: 1.5em;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle; }

/*
	ELEMENTS
*/
[class^="uui-"],
[class*=" uui-"] {
  position: relative;
  line-height: 1.5em;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle; }

.uui-title {
  position: relative;
  height: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding: 0; }

.uui-text {
  position: relative;
  height: 1.5em;
  line-height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  padding: 0; }

textarea.uui-text, input[type].uui-text {
  position: relative;
  height: 1.5em;
  line-height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  padding: 0; }

.uui-icon,
.uui-icon-button {
  width: 1.5em;
  padding: 0;
  text-align: center; }

.uui-icon {
  border: none;
  background: transparent; }

.uui-icon-button {
  border: none;
  background: transparent; }
  .uui-icon-button.uui-circle {
    border-radius: 50%; }
  .uui-icon-button.uui-square {
    border-radius: 2px; }

.uui-icon,
.uui-icon-button,
.uui-button {
  display: inline-block;
  vertical-align: middle;
  position: static;
  font-size: 0.9em;
  line-height: 1.5em; }

a.uui-icon:before {
  vertical-align: middle; }

.uui-button,
.uui-icon-button,
.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons {
  background: orange;
  color: white;
  border-radius: 5px; }

.uui-button:hover,
.uui-button:hover *,
.uui-button:hover span:before,
.uui-icon-button:hover,
.uui-icon-button:hover *,
.uui-icon-button:hover span:before {
  background: #ffc14d;
  color: white !important;
  font-weight: bold; }

.uui-button {
  text-align: center;
  padding: 0.236em 0; }

.uui-icon-button {
  padding: 0.29em 0.24em 0.24em 0.266em;
  min-width: 0.9em;
  box-sizing: content-box;
  font-size: 100%; }

/*
	STYLES / EFFECTS
*/
.uui-hollow:before {
  text-shadow: 0 0 1px #000;
  color: #fff; }

.uui-hollow:hover:before {
  text-shadow: #fff;
  color: #000; }

.uui-muted:before,
.uui-muted span:before {
  color: #ccc; }

.uui-hollow-orange span, .uui-hollow-orange:before,
.uui-hollow-orange span:before {
  color: #fff;
  text-shadow: 0 0 1px orange;
  transition: text-shadow 1s, color 1s; }

.uui-hover-orange:hover span, .uui-hover-orange:hover:before,
.uui-hover-orange:hover span:before {
  color: orange;
  text-shadow: none; }
