IndexIgnore *.php *.html *.htm *.txt *.ini *.htaccess

Options +FollowSymLinks
RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} !^/(publisher|editor|oldsite)/?.*$ [NC]
RewriteCond %{REQUEST_URI} ^/{1}([^/]*)/{2}.*$ [NC]
RewriteRule ^/?([^/]*)/?([^/]*)/?([^/]*)/?([^/]*)/?$ index.php?page=$1&category=&item=$2 [QSA,NS,PT]

RewriteCond %{REQUEST_URI} ^/?([^/]*)/?([0-9-]+)/?([0-9-]*)/?([0-9-]*)/?$ [NC]
RewriteRule ^/?([^/]*)/?([^/]*)/?([^/]*)/?([^/]*)/?([^/]*)/?$ index.php?page=$1&year=$2&month=$3&day=$4 [QSA,NS,PT]

RewriteCond %{REQUEST_URI} !^/?.*([\.]+).*$ [NC]
RewriteCond %{REQUEST_URI} !^/?.*/$ [NC]
RewriteRule ^/?([^/]*)/?([^/]*)/?([^/]*)/?([^/]*)/?$ index.php?page=$1&category=$2&item=$3 [QSA,NS,PT]

