<!DOCTYPE html>
<html>
<head>
<title>Paul SMASH Tech</title>
<meta name="description" content="Web development - web design - UI / UX" />
<meta name="keywords" content="Paul SMASH Tech, HTML5, Javascript, AngularJS, SASS" />
<meta property="og:title" content="Paul SMASH Tech | Web development" />
<meta property="og:site_name" content="Paul SMASH Tech" />
<meta property="og:description" content="Web design and development" />
<meta property="og:type" content="website" />
<meta property="og:url" content="/" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<link rel="stylesheet" type="text/css" href="/assets/css/basic.css" /> 

<link href="https://pugjs.org/images/favicon-32x32.png" rel="shortcut icon" type="image/x-icon" />
</head>
<body>

    <img class="pug-logo" src="assets/images/pug-icon.png" />