body, p, div, a, ul, li, form, input, sub, sup, h1, h2, h3, h4, h5, h6, pre, blockquote {
	position:relative;
	font-style:normal;
	font-weight:normal;
	font-size:16px;
	line-height:20px;
	padding:0;
	margin:0;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
}
li {
	padding:4px;
}