@charset "utf-8";
* {
	position:relative;
}
#TB_title {background:#333333;}
#editor_toolbar {
	overflow:visible;
	position:absolute;
	top:0;
	left:0;
	height:28px;
	color:#666;
	font-size:16px;
	font-family:arial,'sans serif',sans;
	background:url('/publisher/core/editor/images/layout/bg-tan.png') top left repeat-x #ebedcf;
	z-index:1200;
}
#editor {
	overflow:visible;
	position:absolute;
	height:28px;
	color:#666;
	font-size:16px;
	font-family:arial,'sans serif',sans;
	background:url('/publisher/core/editor/images/layout/bg-tan.png') top left repeat-x #ebedcf;
	z-index:1200;
}
#editor_button {
	overflow:visible;
	float:left;
	height:24px;
	line-height:24px;
	margin:2px 0;
	padding:0 4px 0 0;
	vertical-align:middle;
	color:#666;
	background:url('/publisher/core/editor/images/layout/bg-tan.png') top left repeat-x #ebedcf;
	z-index:1207;
}
#editor_button a, #editor_button p, #editor_button li {
	text-decoration:none;
	font-weight:bold;
	color:#666;
	font-size:16px;
	line-height:22px;
	font-family:arial,'sans serif',sans;
}
#editor_button a:hover {color:#000;}
#editor_button a:visited {color:#666;}
#editor_button li {margin:0;padding:4px 0;list-style:none;}
#editor_button span {
	padding-left:3px;
	padding-right:2px;
	font-weight:bold;
}
#editor_button img {
	float:left;
	height:24px;
	line-height:24px;
	border:none;
	z-index:1207;
}
#editor_dropdown {
	position:absolute;
	display:none;
	margin:22px 0 0 0;
	padding:4px 18px 4px 4px;
	font-family:arial,'sans serif',sans;
	font-size:16px;
	color:#666;
	background:#ffffdf;
	border-bottom:#ffffb5;
	z-index:1312;
}
.hover #editor_dropdown {
	display:block;
}
#TB_HideSelect {
	z-index:2000;
}
#TB_overlay {
	z-index:2100;
}
#TB_load{
	z-index:2103;
}
#TB_window {
	z-index:2200;
}