/* FONTS */
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=ce443a60-8ce8-445d-b33a-a25e71b01bad");
@font-face{
font-family:"passage_regular";
src:url("Fonts/9fb53af1-978f-4f72-a456-11dfe6f4a56a.eot?#iefix");
src:url("Fonts/9fb53af1-978f-4f72-a456-11dfe6f4a56a.eot?#iefix") format("eot"),url("Fonts/453685b4-36a6-41e9-9fd1-fed10a8e5c51.woff") format("woff"),url("Fonts/57f7eceb-d4da-4d5c-a3ad-31f9f23630a3.ttf") format("truetype"),url("Fonts/c71b650d-05ba-4710-a595-0643f13392a8.svg#c71b650d-05ba-4710-a595-0643f13392a8") format("svg");
}

/* RESET */
a, a:hover, a:visited {color:inherit;text-decoration:inherit;}
p {margin:0 0 10px;}

/* DEFAULT */
body {font-size:23px;line-height:115%;}
body.lt800 {font-size:22px;}
body.lt600 {font-size:18px;}

/* STYLE */
body {margin:0;overflow:hidden;font-family:passage_regular, Arial, sans-serif;letter-spacing:1px;overflow:hidden;}
h1, h2, h3, h4, h5, h6 {font-family:passage_regular, Georgia, sans serif;-webkit-font-smoothing: antialiased;}
.content {margin:0 auto;}
.left {float:left;text-align:left;}
.right {float:right;text-align:right;}
	
/* LAYOUT */
#body {position:absolute;top:0;left:0;overflow:hidden;}
#splash {position:absolute;top:0;left:0;width:100%;height:100%;z-index:100000;background:#111111;}
html, #splash {width:100%;height:100%;background:#111111 url('/gfx/layout/logo_black.gif') center no-repeat;}
.stage_image {position:absolute;}
#stage_background {z-index:1;}
#stage_curtain {z-index:2;}
#stage_foreground {z-index:6;}
#full_spotlight {position:absolute;top:0;left:0;width:100%;height:100%;z-index:9;}
.page {position:absolute;z-index:101;}
	.page.under {z-index:1;}
	.page.over {z-index:101;}
	body.tall .page {left:0 !important;}
	body.wide .page {top:0 !important;}

#page_header {margin-top:1%;border:solid 1px #e9cf6f;background:rgba(255,255,255,0.8);font-weight:normal;}
#page_header h1 {margin:0;display:inline;border:solid 1px #e9cf6f;background:rgba(255,255,255,0.8);font-size:300%;line-height:100%;padding:3px;font-weight:normal;}
#page_header h1 span {padding:5px;border:solid 1px #e9cf6f;background: #ffffff;position:relative}
#page_header h1 span img {height:55px;width:auto;vertical-align: -14%;padding:0 4px 0 5px;}
#page_header .right {width:60%;padding:5px 0;}

#page_footer {text-align:right;text-transform:lowercase;margin-bottom:1%;position:absolute;bottom:0;width:100%;z-index:110;background:rgba(255,255,255,0.8);border:solid 1px #e9cf6f;border-left:none;border-right:none;}
#page_footer h5 {margin:0;display:inline;border:solid 1px #e9cf6f;background:rgba(255,255,255,0.8);font-size:100%;line-height:100%;padding:3px;font-weight:normal;}
#page_footer h5 span {padding:5px;border:solid 1px #e9cf6f;background: #ffffff;position:relative}
#page_footer h5 span b {background: url(Fonts/gradient-white.png) 0 15% repeat-x;background-size:100% 70%; position: absolute;left:0;display: block;width: 100%;height:100%;top:0;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#page_header .right {margin-top:-55px;}
}

/*
   TOP
*/
#page_banner {position: absolute;top: 2%;left: 31.6%;width: 37%;height: auto;}
.menu_top {
	position:absolute;top:10%;width:30%;text-shadow: 2px 2px 1px #000000;
}
	@media (max-width: 800px) {
		.menu_top {top:10%;}
	}
.menu_top a {color:#ffffff;display:block;}
	#menu_topleft {right:69%;text-align:right;}
	#menu_topright {left:69.1%;}
#button_photos {position: absolute;top: 8.7%;left: 1.9%;display: block;width: 14%;}
#button_photos img {width:100%;height:auto;}
#button_videos {position: absolute;top: 8%;right: 1.3%;display: block;width: 14%;}
#button_videos img {width:100%;height:auto;}

/* 
   ACTORS 
*/
.acts {z-index: 111;position:absolute;width:100%;height: 37%;top: 54%;}
.act {float:left;height:auto;width: 12%;height: 100%;margin:-2% 0 0 0;}
#act_spacer {width:15.25%;}

.act img {width:auto;height:100%;margin-left:-25%;}
.act img.over {display:none;}
.act img.under {display:block;}
.act .title {display:none;color:#ffffff;text-shadow:1px 1px 1px #000000;text-align: center;font-size: 90%;width: 150%;margin-left: -42%;}
.act:hover .title {display:block;}
.page .act .title {display:block;opacity:0;}
.page.over .act {cursor:pointer;}
.page.under .act .title {line-height:24px;}
.page.over .act .title {line-height:18px;}

.page.over .act.hover .title {opacity:1;}
.page.over .act.selected .title {opacity:1;}
.page.under .act.selected img.over {display:block !important;}
.page.under .act.selected img.under {display:none !important;}
.page.under .act.selected .title {display:none !important;}
.page.under .act.hover img.over {display:block !important;}
.page.under .act.hover img.under {display:none !important;}
.page.under .act.hover .title {display:none !important;}

.board {position: absolute;display: none;top: 35%;left: 21.2%;width: 57%;height: 19%;color: #ffffff;overflow: auto;font-size: 80%;line-height: 120%;text-shadow:1px 1px 1px #000000;}
.board .content {padding:0 1%;}
#board0 {display:block;text-align:center;overflow:visible;}

/* 
   OVERLAYS 
*/
#shop {
	position:absolute;display:block;left: 5.3%;bottom: 3.5%;color:#ffffff;
	background:url('/gfx/icons/shop.png') left bottom no-repeat;background-size:auto 100%;width: 4%;height: 5.12%;
}
#play {
	position:absolute;display:block;left:5.3%;bottom:3.5%;color:#ffffff;
	background:url('/gfx/icons/play.png') right bottom no-repeat;background-size:auto 100%;width: 4%;height: 5.12%;
}
#contact {
	position:absolute;display:block;right:5%;bottom:3.5%;color:#ffffff;
	background:url('/gfx/icons/contact.png') right bottom no-repeat;background-size:auto 100%;width: 4%;height: 5.12%;
}
#close {
	position:absolute;display:block;top:1.44%;right:1%;color:#ffffff;
	background:url('/gfx/icons/close.png') right bottom no-repeat;background-size:auto 100%;width:4%;height:5.12%;
}
#close_wide {
	position:absolute;display:block;top:3%;right:1%;color:#ffffff;
	background:url('/gfx/icons/close_wide.png') right bottom no-repeat;background-size:auto 100%;width:15%;height:5.12%;
}

#overlay {z-index:10;position:absolute;display:block;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.8);opacity:0;}

#frame {z-index: 1001;position:absolute;display:block;top:-100%;left:0;width:100%;height:100%;margin-top:2px;background:url('/gfx/layout/frame.jpg') center no-repeat;background-size:100% 100%;opacity:0;}
#frame #close{}
#frame #content {position:absolute;display:block;top:13.5%;left:11.5%;width:78%;height:73%;overflow:auto;}

#banner {z-index: 1001;position:absolute;display:block;top:-100%;left:0;width:100%;height:100%;margin-top:2px;background:url('/gfx/layout/banner.png') center no-repeat;background-size:100% 100%;opacity:0;}
#banner #close{}
#banner #content {position:absolute;display:block;top: 12.2%;left: 5%;width: 90.3%;height: 85.5%;overflow:auto;}

#ticker {position: absolute;display: block;top: 2.25%;width:10000px;left:100%;}
#ticker .text {display:inline-block;background: rgba(0,0,0,.5);opacity: 0.8;color: #ffffff;font-family: arial;font-size: 50%;line-height: 240%;padding:0 25px;}



