html {
    font-size: 15px;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.3rem;
    font-family: Geneva, Verdana, 'Segoe UI', Tahoma, sans-serif;
}

a,
a *,
a:visited {
    color: hsl(190, 100%, 30%);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1 {
    font-size: 1.8rem;
    margin: 1.5rem -0.08rem 1.9rem;
    font-weight: bold;
    opacity: 0.8;
}

h2 {
    margin: 2.6rem 0 0.8rem;
    padding: 2.3rem 0 0 0;
    font-size: 1.2rem;
    font-weight: bold;
    border-top: solid 1px #ccc;
}

h3 {
    margin: 3.1rem 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

h4 {
    font-weight: bold;
    margin: 1.6rem 0 0.6rem;
    opacity: 0.8;
}

.page {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.page::before {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #FDFDFD url(/assets/the_wilderness_downtown/img/paper.jpg) repeat;
}

header {
    background: hsla(180, 5%, 10%, 0.94);
    position: relative;
    z-index: 1000;
    box-shadow: 0 0 0.45rem rgba(0, 0, 0, 0.75);
    padding: 0.1rem 0.7rem 0.4rem;
    color: hsla(190, 65%, 15%, 0.65);
    letter-spacing: 0.25px;
    font-size: 0.9rem;
}

header a,
header a *,
header a:visited {
    opacity: 0.66;
    color: white;
}

header * {
    vertical-align: middle;
}

header .right {
    float: right;
}

header img,
header svg {
    height: 1rem;
    fill: white;
    margin: 0 0.1rem;
    width: 1rem;
    vertical-align: middle;
}

/*
    NAV
*/
.nav {
    position: relative;
    /* to bring in front of background .page::before */
    display: block;
    padding: 2rem 2rem;
    background: rgba(35, 20, 0, 0.05);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 1);
    /* font-family: monospace; */
    font-size: 120%;
    min-width: 9rem;
}

.nav a {
    display: block;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li.heading:hover,
.nav ul ul li:hover {
    background: rgba(255, 255, 255, 0.36);
    border-radius: 3px;
}

.nav li.active {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

.nav li.active,
.nav li.active a {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.nav ul li a {
    line-height: 2.4rem;
    font-weight: bold;
    margin: 0.2rem;
}

.nav ul ul li a {
    line-height: 2.8rem;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 90%;
}

.nav ul ul ul li a {
    line-height: 2.4rem;
    text-transform: none;
}


.nav ul li {
    list-style: none;
}

.nav ul ul {
    margin-left: 0;
}

.nav ul ul li {
    border-left: dotted 2px rgba(0, 0, 0, 0.1);
    padding-left: 0.75rem;
}

.nav ul ul ul {
    padding-left: 0.75rem;
    border-left: dotted 2px rgba(0, 0, 0, 0.1);
}

.nav ul ul ul li {
    font-weight: bold;
}

/*
    CONTENT
*/
.content {
    position: relative;
    /* to bring in front of background .page::before */
    flex-grow: 1;
    padding: 1rem 2.2rem;
    background: rgba(255, 255, 250, 0.33);
}

.content p {
    line-height: 1.6rem;
    margin: 0.6rem 0;
    color: rgba(15, 15, 15, 0.75);
}

.content ol,
.content ul {
    margin: 1rem;
    padding: 0 0.4rem;
}

.content li {
    padding-left: 0.62rem;
}

.content blockquote {
    box-sizing: border-box;
    margin: 0.2rem 0 0.5rem 0.06rem;
    padding: 0 1.8rem 0;
    display: inline-block;
    min-width: 50vw;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    border: solid 1px rgba(5, 35, 5, 0.08);
    border-left-width: 2px;
}

.content blockquote,
.content blockquote * {
    /* color: rgba(5, 5, 5, 0.6); */
}

.content blockquote b,
.content blockquote strong {
    /* color: rgba(5, 50, 5, 0.75); */
}

.content code {
    font-size: 0.9rem;
    line-height: 0.8rem;
    background: rgba(247, 250, 247, 0.8);
    color: rgba(7, 77, 7, 0.77);
    border: solid 1px rgba(5, 35, 5, 0.085);
    display: inline-block;
    padding: 3px 5px 3px;
    margin: 0 2px 2px 1px;
    vertical-align: middle;
    border-radius: 3px;
    font-weight: bold;
    border-left-width: 2px;
    border-bottom-width: 1px;
}

.content pre code {
    box-sizing: border-box;
    line-height: 1.15rem;
    padding: 6px 15px 7px;
    min-width: 50vw;
}