html {
    font-size: 15px;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.3rem;
    font-family: Geneva, Verdana, 'Segoe UI', Tahoma, sans-serif;
}

a,
a *,
a:visited {
    color: hsl(190, 100%, 30%)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1 {
    font-size: 1.8rem;
    margin: 1.3rem -0.1rem 1.7rem;
    font-weight: bold;
    opacity: 0.8;
}

h2 {
    margin: 2.6rem 0 0.8rem;
    padding: 2.3rem 0 0 0;
    font-size: 1.2rem;
    font-weight: bold;
    border-top: solid 1px #ccc;
}

h3 {
    margin: 3rem 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

h4 {
    font-weight: bold;
    margin: 1.6rem 0 0.6rem;
    opacity: 0.8;
}

.page {
    display: flex;
    min-height: 100vh;
}

.page::before {
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #FDFDFD url(/assets/the_wilderness_downtown/img/paper.jpg) repeat;
}

/*
    NAV
*/
.nav {
    position: relative;
    /* to bring in front of background .page::before */
    display: block;
    padding: 2rem 2rem;
    background: rgba(45, 25, 0, 0.05);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 1);
    font-family: monospace;
}

.nav a {
    display: block;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li.heading:hover,
.nav ul ul li:hover {
    background: rgba(255, 255, 255, 0.33);
}

.nav li.active {
    background: rgba(0, 0, 0, 0.05);
}

.nav li.active,
.nav li.active a {
    color: rgba(0, 0, 0, 0.8);
}

.nav ul li a {
    line-height: 2rem;
    font-weight: bold;
}

.nav ul ul li a {
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: normal;
}

.nav ul ul ul li a {
    line-height: 2rem;
    text-transform: none;
}


.nav ul li {
    list-style: none;
}

.nav ul ul {
    margin-left: 0;
}

.nav ul ul li {
    border-left: dotted 2px rgba(0, 0, 0, 0.1);
    padding-left: 0.75rem;
}

.nav ul ul ul {
    padding-left: 0.75rem;
    border-left: dotted 2px rgba(0, 0, 0, 0.1);
}

.nav ul ul ul li {
    font-weight: bold;
}

/*
    CONTENT
*/
.content {
    position: relative;
    /* to bring in front of background .page::before */
    flex-grow: 1;
    padding: 1rem 2.2rem;
    background: rgba(255, 255, 250, 0.33);
}

.content p {
    line-height: 1.6rem;
    margin: 0.6rem 0;
    color: rgba(15, 15, 15, 0.75);
}

.content ol,
.content ul {
    margin: 1rem;
    padding: 0 0.4rem;
}

.content li {
    padding-left: 0.62rem;
}

.content blockquote {
    box-sizing: border-box;
    margin: 0 0 0 0.06rem;
    padding: 0 1.8rem 0;
    display: inline-block;
    min-width: 50vw;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: solid 1px rgba(5, 35, 5, 0.085);
    border-left-width: 2px;
}

.content blockquote,
.content blockquote * {
    /* color: rgba(5, 5, 5, 0.6); */
}

.content blockquote b,
.content blockquote strong {
    /* color: rgba(5, 50, 5, 0.75); */
}

.content code {
    font-size: 0.9rem;
    line-height: 0.8rem;
    background: rgba(247, 250, 247, 0.85);
    color: rgba(5, 50, 5, 0.75);
    border: solid 1px rgba(5, 35, 5, 0.085);
    display: inline-block;
    padding: 3px 5px 4px;
    margin: 0 2px 2px 1px;
    vertical-align: middle;
    border-radius: 3px;
    font-weight: bold;
    border-left-width: 2px;
    border-bottom-width: 1px;
}

.content pre code {
    box-sizing: border-box;
    line-height: 1.15rem;
    padding: 6px 15px 7px;
    min-width: 50vw;
}