@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l2nl16');
  src:  url('fonts/icomoon.eot?l2nl16#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?l2nl16') format('woff2'),
    url('fonts/icomoon.ttf?l2nl16') format('truetype'),
    url('fonts/icomoon.woff?l2nl16') format('woff'),
    url('fonts/icomoon.svg?l2nl16#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-selectDown:before {
  content: "\e907";
}
.icon-dotdotdot:before {
  content: "\e906";
}
.icon-pk-plug:before {
  content: "\e905";
}
.icon-pk-clock:before {
  content: "\e901";
}
.icon-pk-cloud:before {
  content: "\e902";
}
.icon-pk-clouds:before {
  content: "\e903";
}
.icon-pk-compass:before {
  content: "\e904";
}
.icon-pk-delete:before {
  content: "\e90f";
}
.icon-pk-devices:before {
  content: "\e910";
}
.icon-pk-edit:before {
  content: "\e911";
}
.icon-pk-ethernet:before {
  content: "\e912";
}
.icon-pk-eye:before {
  content: "\e913";
}
.icon-pk-gear:before {
  content: "\e914";
}
.icon-pk-globe:before {
  content: "\e915";
}
.icon-pk-health:before {
  content: "\e916";
}
.icon-pk-important:before {
  content: "\e917";
}
.icon-pk-leaf:before {
  content: "\e918";
}
.icon-pk-lightbulb:before {
  content: "\e919";
}
.icon-pk-location:before {
  content: "\e91a";
}
.icon-pk-lock:before {
  content: "\e91b";
}
.icon-pk-magnet:before {
  content: "\e91c";
}
.icon-pk-magnify:before {
  content: "\e91d";
}
.icon-pk-move:before {
  content: "\e91e";
}
.icon-pk-plus:before {
  content: "\e923";
}
.icon-pk-question:before {
  content: "\e924";
}
.icon-pk-refresh:before {
  content: "\e925";
}
.icon-pk-rocket:before {
  content: "\e926";
}
.icon-pk-spedometer:before {
  content: "\e927";
}
.icon-pk-stats:before {
  content: "\e928";
}
.icon-pk-users:before {
  content: "\e929";
}
.icon-pk-wifi:before {
  content: "\e92a";
}
.icon-pk-wrench:before {
  content: "\e92b";
}
.icon-power_outlet_outline:before {
  content: "\e900";
}
.icon-carat_down:before {
  content: "\e931";
}
.icon-user:before {
  content: "\e971";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-circle-down:before {
  content: "\ea43";
}

